/* You can add global styles to this file, and also import other style files */
.css-button-3d--blue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3d348b;
  box-shadow: 0 5px #2c0b8e;
}
.css-button-3d--blue:hover {
  box-shadow: 0 3px #2c0b8e;
  top: 1px;
}
.css-button-3d--blue:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}
